@{
    ViewBag.Title = "About";
}


<h1> About the Site </h1><hr/>

<h4>网站定位是一个小型的购物网站, 在这个网站中, 注册用户可以浏览商品, 购买商品, 收藏商品等. 并且能够管理自己的购物车内的商品, 付款购买. </h4>
<h4>通过vue等框架, 实现动态刷新, 让网页无需刷新就能提交表单, 增加了浏览速度和增强了浏览体验.</h4>
<h4>通过基于物品的协同过滤算法, 帮助用户发现感兴趣的商品, 能在海量的商品中找到一款自己喜欢的.</h4>
<h4>源代码: https://github.com/yanghaku/TMall-asp.net</h4>


<h1> About the Author </h1><hr/>

<h4><img src="https://avatars2.githubusercontent.com/u/36074633?s=400&u=7625156319c5ded1d79ec73a65e820d239cb705e&v=4" alt="picture"/></h4>
